<!doctype html>
<html lang="en">
  <head>
    {{ include "meta.vto" }}
  </head>
  <body>
    {{ include "header.vto" }}
    <main class="min-h-screen max-w-screen flex flex-col items-center gap-4 mx-8 mt-8 mb-24">
      {{ content }}
    </main>
    {{ include "footer.vto" }}
  </body>
</html>