<!doctype html>
<html lang="en">
  <head>
    {%- include "meta.njk" -%}
  </head>
  <body>
    {%- include "header.html" -%}
    <main class="min-h-screen flex flex-col items-center">
      {{ content | safe }}
    </main>
    {%- include "footer.njk" -%}
  </body>
</html>