@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "@lumeland/daisyui";

:root {
  --color-base-100: oklch(99% 0.01 78.24);
  --color-base-200: oklch(96% 0.015 78.24);
  --color-base-300: oklch(91% 0.0181 78.24);
  --color-base-content: oklch(38.84% 0.0444 44.12);
  --color-primary: oklch(45.69% 0.090756 169.6887);
  --color-primary-content: oklch(95% 0.090756 150.15);
  --color-secondary: oklch(27.12% 0.187888 264.052);
  --color-secondary-content: oklch(88% 0.059 254.128);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
