---
title: ""
layout: base.vto
---

<h1 class="text-4xl font-black mt-8 text-center text-balanced">A day planner that fixes <span class="italic">everything</span></h1>
<p class="text-md text-center text-balanced">... just kidding, but it will help you get and stay organized - and it's pretty, too!</p>
<img src="/assets/screenshot.png" alt="Dexter app screenshot" class=""/>