<div class="collapse collapse-arrow bg-base-100 border border-base-300">
  <input type="radio" name="faq" aria-label="expand/collapse FAQ item" />
  <div class="collapse-title font-semibold">{{ question }}</div>
  <div class="collapse-content text-sm">{{ answer |> md }}</div>
</div>