<div class="card-group flex gap-8">
  {{ comp.feature({ slug: "quick", title: "Quick Planner", description: "Keep track of tasks that are incomplete, due soon, or were left behind on days where you were feeling particularly... ambitious." }) }}
  {{ comp.feature({ slug: "prioritize", title: "Prioritization", description: "An adaptation of the Eisenhower Matrix" }) }}
  {{ comp.feature({ slug: "review", title: "Daily Review", description: "Mindfully end each day by reviewing wins and deciding if leftover items should be marked as done, won't do, or be rescheduled" }) }}
  {{ comp.feature({ slug: "soon", title: "Notes & Journal", description: "A card component has a figure, a body part, and inside body there are title and actions parts and a third line too" }) }}
  {{ comp.feature({ slug: "week", title: "Week at a Glance", description: "A card component has a figure, a body part, and inside body there are title and actions parts and a third line too" }) }}
  {{ comp.feature({ slug: "soon", title: "Goals", description: "A card component has a figure, a body part, and inside body there are title and actions parts and a third line too" }) }}
  {{ comp.feature({ slug: "soon", title: "Focus Blocks", description: "A card component has a figure, a body part, and inside body there are title and actions parts and a third line too" }) }}
  {{ comp.feature({ slug: "soon", title: "Habit Tracking", description: "A card component has a figure, a body part, and inside body there are title and actions parts and a third line too" }) }}  
</div>